
<a asp-controller="Companies" asp-action="Index">Manage Companies</a>
<a asp-controller="UserAccounts" asp-action="Index">Manage Accounts</a>
<a asp-controller="JobPosts" asp-action="Index">Manage JobPosts</a>