@model IEnumerable<JobPortal.Models.Company>

@{
    ViewData["Title"] = "Index";
}


     <div class="container-fluid">
         
    <h1>Manage Company</h1>
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
      <div class="row">
@foreach (var item in Model) {
         <div class="col col-xl-4 my-4">
          <div class="card cssanimation fadeInBottom">
          <div class="row p-2 m-2">
            <div class="col-md-4">
              <img class= "logo-img" src ="@item.CompanyLogoUrl" />
            </div>
            <div class="col-md-8">
                <h6>@item.CompanyName</h6>
                <a href="@item.CompanyWebsiteUrl">
                 @item.CompanyWebsiteUrl
                </a>
            </div>
          </div>
        </div>
        </div>
}
      </div>
    </div>


