
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobPortal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mainLayout.css"   asp-append-version="true" />
</head>
<body>
    <header>
         <nav class=" shadow-sm  navbar navbar-expand-lg navbar-light bg-light bo">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              @*<img src="~/img/Group 37.png" alt="logo"/>*@
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active blue" aria-current="page"  asp-controller="Home" asp-action="Index">Trang chủ</a>
                <div class="text-line"></div>
            </li>
              <li class="nav-item">
                <a class="nav-link blue"  asp-controller="JobPosts" asp-action="GetAllJobs">Công việc
                    <span class="text-white new-tag ">NEW</span>
                </a>
                <div class="text-line"></div>
            </li>
           
              <li class="nav-item">
                <a class="nav-link"  asp-controller="Companies" asp-action="GetAllCompanies" >Công ty
                    <span class=" text-white new-tag ">NEW</span>
                </a>
                <div class="text-line"></div>
            </li>
        
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                   
                        <li class="nav-item">
                      <a class="nav-link active"  asp-controller="UserAccounts" asp-action="Logout"  aria-current="page" >Đăng xuất</a>
                      <div class="text-line"></div>
                                </li>
                        
                                         <li class="nav-item">
                      <a class="nav-link active"   asp-controller="UserAccounts" asp-action="Create"  aria-current="page" >Đăng ký</a>
                      <div class="text-line"></div>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link"   asp-controller="UserAccounts" asp-action="Login">Đăng nhập
                      </a>
                      <div class="text-line"></div>
                  </li> 
                            
                  
                 
                 @* <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="font-14 blue fw-bold">NHÀ TUYỂN DỤNG</div>
                        <div class="font-12">Đăng tin & tìm ứng viên</div>
                    </a>
                    <div class="text-line"></div>
                </li>*@
                  
              
                  </ul>
            </span>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - JobPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
