
@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>

 <title>@ViewData["Title"] - JobPortal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Job Portal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="~/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="~/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
<!-- Custom Theme files -->
<link href="~/css/style.css" rel='stylesheet' type='text/css' asp-append-version="true" />
<link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' asp-append-version="true">
<!----font-Awesome----->
<link href="./css/font-awesome.css" rel="stylesheet" asp-append-version="true"> 
<!----font-Awesome----->
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
	<div class="container">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" asp-controller="Home" asp-action="Index" >
				<img class="logo-img" src="~/img/Group 37.png" alt="Logo"/>
				<h2 class="navbar-logo-title">VietJobs</h2>
			</a>

			@if(Context.Session.GetInt32("UserTypeId") == 1)
				{
				<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				  <ul class="navbar-nav">
					<li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Manage System
					  </a>
					  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a asp-controller="UserAccounts" asp-action="Index">Manage Accounts</a></li>
						<li><a asp-controller="Companies" asp-action="Index">Manage Companies</a></li>
						<li><a asp-controller="JobPosts" asp-action="Index">Manage JobPosts</a></li>
						<li><a asp-controller="JobPostActivities" asp-action="Index">Manage Application</a></li>
						<li><a asp-controller="JobTypes" asp-action="Index">Manage JobTypes</a></li>
					  </ul>
					</li>
				  </ul>
				</div>
				}
	

	    </div>
	    <!--/.navbar-header-->
	    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
	        <ul class="nav navbar-nav ">
		        <li class="dropdown nav-link-item">
		            <a asp-controller="JobPosts" asp-action="GetAllJobs"  >Jobs</a>

					<div class="under-line"></div>
				</li>
		        <li class="dropdown nav-link-item">
		        	<a asp-controller="Companies" asp-action="GetAllCompanies" >Companies</a>
					<div class="under-line"></div>
				</li>
				@if(Context.Session.GetInt32("UserAccountId") > 0){
					<li class="nav-link-item">
							<a >@Context.Session.GetString("Email")</a>
							<div class="under-line"></div>
					</li>
				
					<li class="nav-link-item">
					<a asp-controller="UserAccounts" asp-action="Logout">Logout</a>
					<div class="under-line"></div>
				</li>
				}
				else{
				<li class="nav-link-item">
					<a asp-controller="UserAccounts" asp-action="Login" >Login</a>
					<div class="under-line"></div>
				</li>
				
				}
		  
			</ul>
	    </div>
	    <div class="clearfix"> </div>
	  </div>
	</nav>
 
            @RenderBody()

	 <div class="footer">
		<div class="container">
			<div class="col-md-3 grid_3">
				<h4>Navigate</h4>
				<ul class="f_list f_list1">
					<li><a href="index.html">Home</a></li>
					<li><a href="login.html">Sign In</a></li>
					<li><a href="login.html">Join Now</a></li>
					<li><a href="about.html">About</a></li>
				</ul>
				<ul class="f_list">
					<li><a href="features.html">Features</a></li>
					<li><a href="terms.html">Terms of use</a></li>
					<li><a href="contact.html">Contact Us</a></li>
					<li><a href="jobs.html">Post a Job</a></li>
				</ul>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 grid_3">
				<h4>Twitter Widget</h4>
				<div class="footer-list">
				  <ul>
					<li><i class="fa fa-twitter tw1"> </i><p><span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit web design</p></li>
					<li><i class="fa fa-twitter tw1"> </i><p><span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit web design</p></li>
					<li><i class="fa fa-twitter tw1"> </i><p><span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit web design</p></li>
				  </ul>
				</div>
			</div>
			<div class="col-md-3 grid_3">
				<h4>Job Portal</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
			</div>
			<div class="col-md-3 grid_3">
				<h4>Sign up for our newsletter</h4>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</p>
				<form>
					<input type="text" class="form-control" placeholder="Enter your email">
					<button type="button" class="btn red">Subscribe now!</button>
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="footer_bottom">	
	  <div class="container">
		<div class="col-sm-2">
  			<ul class="f_list2">
				<li><a href="jobs.html">Russia Jobs</a></li>
				<li><a href="jobs.html">Australia Jobs</a></li>
				<li><a href="jobs.html">Srilanka Jobs</a></li>
				<li><a href="jobs.html">Poland Jobs</a></li>
			</ul>
  		</div>
  		<div class="col-sm-2">
  			<ul class="f_list2">
				<li><a href="jobs.html">New Zealand Jobs</a></li>
				<li><a href="jobs.html">Pakistan Jobs</a></li>
				<li><a href="jobs.html">Srilanka Jobs</a></li>
				<li><a href="jobs.html">Irland Jobs</a></li>
			</ul>
  		</div>
  		<div class="col-sm-2">
  			<ul class="f_list2">
				<li><a href="jobs.html">Canada Jobs</a></li>
				<li><a href="jobs.html">Germany Jobs</a></li>
				<li><a href="jobs.html">China Jobs</a></li>
				<li><a href="jobs.html">Nepal Jobs</a></li>
			</ul>
  		</div>
  		<div class="col-sm-6 footer_text">
		   <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numqua"</p>
  		</div>
  		<div class="clearfix"> </div>
		<div class="copy">
			<p>Copyright © 2018 Job Portal <a href="#" target="_blank"></a> </p>
		</div>
	  </div>
	</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	 <script src="~/js/jquery.flexisel.js" asp-append-version="true"></script>
	  <script src="~/js/jquery.wmuSlider.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
